.header {
    border: 3px solid #185e9b;
  &-section {
    &-1 {
      &__title {
        
      }
    }
    &-2 {
      &__title {}
      &__logout{
        color: #185e9b;
        text-decoration: underline;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    border: 3px solid #185e9b;
  &-section {
    &-1 {
      &__title {
        font-size: 1.2rem;
      }
    }
    &-2 {
      &__title {
        font-size: 1rem;
      }
      &__logout{
        font-size: 0.8rem;
      }
    }
  }
}
}