// Button Stylings
@mixin btn-primary {
    border-radius: 0px !important;
    padding: 1px 6px !important;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    transition: .6s all ease-in-out;
    &:hover{
        border: 2px solid black;
        box-shadow: 4px -4px black;
        cursor: pointer;
    }
}

.homepage{
    &-section{
        &-1{
            &__breadcrumbs{
                text-decoration: underline;
            }
        }
        &-2{
            margin-left: 5rem;
            &__title{
                font-size: 18px;
            }
            &__input{
                &-1{
                    &__label{
                        width: 158px;
                    }
                    &__field{
                        width: 284px;
                        border: 3px solid black;
                    }
                    &__btn{
                        @include btn-primary;
                    }
                }
                &-2{
                    &__label{
                        text-align: end;
                        width: 158px;
                    }
                    &__field{
                        width: 284px;
                        border: 3px solid black;
                    }
                    &__btn{
                        &-1{
                            @include btn-primary;
                        }
                        &-2{
                            @include btn-primary;
                        }
                    }
                }
            }
        }
        &-3{
            margin-left: 5rem;
            &__btn{
                &-1{
                    @include btn-primary;
                }
                &-2{
                    @include btn-primary;
                }
            }
        }
        &-4{
            margin-left: 5rem;
            &__title{
                @extend .mb-5;
            }
            &__field{
                width: 284px;
                border: 3px solid black;
                &::placeholder{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            &__btn{
                @include btn-primary;
            }
        }
    }
}

hr{
    border: 2px solid black
}

@include media-breakpoint-down(sm) {
    .homepage{
        &-section{
            &-1{
                &__breadcrumbs{}
            }
            &-2{
                margin-left: 2rem;
                &__title{}
                &__input{
                    &-1{
                        &__label{}
                        &__field{}
                        &__btn{}
                    }
                    &-2{
                        &__label{}
                        &__field{}
                        &__btn{
                            &-1{}
                            &-2{}
                        }
                    }
                }
            }
            &-3{
                margin-left: 2rem;
                &__btn{
                    &-1{}
                    &-2{}
                }
            }
            &-4{
                margin-left: 2rem;
                &__title{}
                &__field{
                    &::placeholder{}
                }
                &__btn{}
            }
        }
    }
}