<div class="homepage mb-3 ml-3 mr-3">
    <div class="homepage-section-1">
        <p><a href="/" class="homepage-section-1__breadcrumbs">Home</a> > <span>...</span></p>
    </div>
    <div class="homepage-section-2">
        <h5 class="font-weight-bold homepage-section-2__title">Go to an account using the Goldfire serial number OR License ID</h5>
        <div class="d-flex mt-5 align-items-center homepage-section-2__input-1">
            <p class="m-0 homepage-section-2__input-1__label mr-3">Goldfire serial number</p><input type="text" class="homepage-section-2__input-1__field" /><button class="ml-5 btn btn-primary homepage-section-2__input-1__btn">View Account</button>
        </div>
        <div class="d-flex mt-5 align-items-center homepage-section-2__input-2">
            <p class="m-0 homepage-section-2__input-2__label mr-3">License ID </p><input type="text" class="homepage-section-2__input-2__field" /><button class="ml-5 btn btn-primary homepage-section-2__input-2__btn-1">View Account</button><button class="ml-3 btn btn-primary homepage-section-2__input-2__btn-2">Edit License</button>
        </div>
    </div>
    <hr class="text-dark mt-5 ml-5 mr-5" />
    <div class="homepage-section-3">
        <h5 class="font-weight-bold homepage-section-2__title">Go to an account using the company name AND Goldfire account</h5>
        <div class="d-flex mt-3">
            <div class="d-flex">
                <app-select-menu class="mr-3 position-relative"></app-select-menu>
                <app-select-menu class="position-relative"></app-select-menu>
            </div>
            <div class="d-flex flex-column justify-content-between">
                <button class="ml-5 btn btn-primary homepage-section-3__btn-1">View Account</button>
                <button class="ml-5 btn btn-primary homepage-section-3__btn-2">New Account</button>
            </div>
        </div>
    </div>
    <hr class="text-dark mt-5 ml-5 mr-5" />
    <div class="homepage-section-4"></div>
</div>