<mat-toolbar color="primary" class="header mb-5">
  <mat-toolbar-row class="header-section-1">
    <p class="header-section-1__title mb-0">GoldFire License Manager</p>
    <span class="example-spacer"></span>
    <div class="d-flex align-items-center">
      <mat-icon class="example-icon mr-3" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon>
      <a href="#" class="text-decoration-none text-white h5 header-section-2__title mb-0 mr-sm-3 mr-1">Evan Shelby</a>
    </div>
    <a href="#" class="header-section-2__logout font-weight-bold btn btn-danger text-white text-decoration-none">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
