<div class="example-container">
  <mat-form-field>
    <mat-label>{{label?.title}}</mat-label>
    <!-- Required Fields -->
    <input matInput *ngIf="!disable && required && (type?.inpType === 'text' || type?.inpType === 'email')"  placeholder={{placeHolder?.text}} [formControl]="type?.inpType === 'text' ? text : email" value={{val?.value}} required>
    <input matInput *ngIf="!disable && required && type?.inpType === 'number'"  type="number" placeholder={{placeHolder?.text}} value={{val?.value}} [formControl]="number" required>
    
    <!-- Not Required Fields -->
    <input matInput *ngIf="!disable && !required && (type?.inpType === 'text' || type?.inpType === 'email')"  placeholder={{placeHolder?.text}} value={{val?.value}}>
    <input matInput *ngIf="!disable && !required && type?.inpType === 'number'" type="number"  placeholder={{placeHolder?.text}} value={{val?.value}}>
    
    <!-- Disabled Fields -->
    <input matInput *ngIf="disable && (type?.inpType === 'text' || type?.inpType === 'email')"  placeholder={{placeHolder?.text}} value={{val?.value}} disabled>
    <input matInput *ngIf="disable && type?.inpType === 'number'" type="number"  placeholder={{placeHolder?.text}} value={{val?.value}} disabled>
    
    <mat-error *ngIf="email.invalid && required" class="ml-2">{{getErrorMessage()}}</mat-error>
    <mat-hint *ngIf="hint">{{hint.message}}</mat-hint>
  </mat-form-field>
</div>