// src/sass/styles.scss
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/scss/header.scss";
@import "./assets/scss/homepage.scss";


// Global Components Stylings here...
.select-menu{
    width: 215px;
    height: 151px;
    border: 3px solid black;
    overflow-y: scroll;
    position: relative;
    scrollbar-color: rebeccapurple;
    button{
        text-align: start;
        border: 1px solid black !important;
        &:active{
            background-color: rgb(158, 158, 158);
        }
    }
}