// src/sass/styles.scss
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/header.scss";
@import "./assets/scss/homepage.scss";
@import "./assets/scss/newaccountpage.scss";
@import "./app/components/page-1-new-input-fields/page-1-new-input-fields.component.scss";
@import "./assets/scss/fonts.scss";

// Global Components Stylings here...
.top-level-parent {
  padding-bottom: 60px;
}

.select-menu {
  width: 290px;
  height: 200px;
  border: 3px solid black;
  overflow-y: scroll;
  position: relative;
  border-radius: 10px;
  &__title {
    width: fit-content;
    margin: 0 auto;
    font-family: sans-serif !important;
    font-weight: 600;
  }
  button {
    text-align: start;
    border: none !important;
    color: white;
    background-color: rgb(126, 126, 126);
    &:active {
      background-color: rgb(158, 158, 158);
    }
  }
}

.select-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.select-menu::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.select-menu::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #2c4054),
    color-stop(0.72, #203b57),
    color-stop(0.86, #2c4054)
  );
}

.btn-primary{
  box-shadow: 0 6px 30px -10px #000;
}

.account-page-input-fields{
    &__title{
        width: 200px;
    }
    &__input{
        width: 250px;
        border: 3px solid black;
    }
}

.account-page-input-fields-verticle{
    &__title{
        width: 100px;
    }
    &__input{
        width: 150px;
        border: 3px solid black;
    }
}

.additionalContactDialog{
  &__btn{
    width: 300px;
  }
  &__input{
    &-1, &-2, &-3{
      display: block;
      width: fit-content;
      .example-container{
        width: fit-content;
      }
    }
    &-1{}
    &-2{}
    &-3{}
  }
}

.dialog-btn-grey{
  @extend .new-account__section-2--button-row__btn-1;
  border: none !important;
  box-shadow: 0 36px 10px 0px #000 !important;
  &:hover{
    background-color: #999 !important;
    border: none !important;
  }
  &:focus{
    background-color: #999 !important;
    border-color: #0062cc !important;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5) !important;
  }
}

.dialog-btn-primary{
  box-shadow: 0 36px 10px 0px #000;
  &:focus{}
}

.cdk-overlay-container{
  .mat-dialog-container{
    padding: 0px !important;
    width: 500px;
  }
}
.cdk-overlay-container:has(.mat-menu-panel){
  .cdk-overlay-pane{
    max-width: unset !important;
    width: unset !important;
    margin-top: 50px;
  }
}

@include media-breakpoint-down(sm) {
  .cdk-overlay-container{
    .cdk-overlay-pane{
      max-width: 100vw !important;
      width: 100%;
    }
    .mat-dialog-container{
      margin: 0 auto;
      width: 320px;
    }
  }
}
